/Waveout/.vs
/Waveout/Debug
/Waveout/ipch
/Waveout/x64
/Waveout/*.opendb
/Waveout/*.db
*.user
/Midiout/Debug
/Storage/x64
/Storage/Debug
/Storage/Release
/Midiout/Release
/Midiout/x64
/Waveout/Release
